<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

    <!-- spring mvc global definitions -->
    <bean id="localeResolver" class="org.springframework.web.servlet.i18n.FixedLocaleResolver">
        <property name="defaultLocale">
            <bean class="java.util.Locale">
                <constructor-arg value="nl" />
            </bean>
        </property>
    </bean>

    <!--
    <bean id="cloudInterceptor" class="nl.vpro.dvt.communities.web.CloudInterceptor">
        <property name="communityFunctionalityService">
            <ref bean="communityFunctionalityService"/>
        </property>
    </bean>
    -->

    <!-- <bean id="unicodeInterceptor" class="nl.vpro.dvt.communities.web.UnicodeInterceptor"/> -->

    <!-- <bean id="authenticationInterceptor" class="nl.vpro.dvt.communities.web.AuthenticationInterceptor"/> -->

    <!--
    <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basename"><value>messages</value></property>
    </bean>
    -->
</beans>
