/* totale menu */
UL.treemenu {
	margin: 0 0 0 4px;
	padding: 0;
	color: #0000FF;
	list-style: none;
}

/* mainmenu item */
UL.treemenu LI,
UL.treemenu LI.treenodeshow {
	list-style: none;
	width: 100%;
	text-align: left;
	margin: 0 0 1px 0;
	padding: 0;
	border: none;
}

/* 1st submenus */
UL.treemenu LI UL,UL.treemenu LI.treenodeshow UL {
	margin: 2px;
	padding: 2px;
	border: none;
}

/* items in 1st submenu */
UL.treemenu LI UL LI {
	border: none;
}

/* mainmenu links */
UL.treemenu LI.treenodeshow A.mainlevel,
UL.treemenu LI A.treeclosed,
UL.treemenu LI A.treeopen,
UL.treemenu LI A.mainlevel {
	width: 100%;
	display: block;
	text-decoration: none;
	margin: 0;
	padding: 2px;
	font-weight: bold;
	border: none;
	color: #0000FF;
}

/* links in 1st submenus */
UL.treemenu LI UL LI A.sublevel,
UL.treemenu LI.treenodeshow UL LI A.sublevel {
	font-weight: normal;
	border: none;
	color: #0000FF;
}

UL.treemenu LI.treenodeshow A.mainlevel:hover,
UL.treemenu LI A.treeclosed:hover,
UL.treemenu LI A.treeopen:hover,
UL.treemenu LI A.mainlevel:hover,
UL.treemenu LI UL LI A.sublevel:hover,
UL.treemenu LI.treenodeshow UL LI A.sublevel:hover {
	color: #000000;
}