		h1 {
	 		text-align:center;
	 		color:#535668;
	 		font-weight:bold;	
	 	}
 		body {
 			font-family:arial, sans-serif;
 			font-size:12px;
			width:676px;
			align:center;
 			background-color:#D3D3D3
 		}
 		
 		table {
 			background-color:#D5DBE3;
 		}
 		pre{

 			margin:3px;
 			
 		}

 		
 		.basis {
 			border-style:solid;
 			border-width:1px;
 			border-color:#7A778C;
 		}
 		
    
 		.category a{
 			background-image:url(icons/folder.gif);
 			background-position:left;
 			background-repeat:no-repeat;
 			padding-left:20px;
 			text-decoration:none;
 			font-weight:bold;
 			color:#7A778C;
 		}
 		.currentcategory A{
 			background-image:url(icons/curr_folder.gif);
 			background-position:left;
 			background-repeat:no-repeat;
 			padding-left:28px;
 			text-decoration:none;
 			font-weight:bold;
 			font-size:16px;
 			color:#7A778C;
 		}
 		
 		.questions {
 			margin-top:4px;
 		}
 		.questions A{
 			background-image:url(icons/question.gif);
 			background-position:left;
 			background-repeat:no-repeat;
 			padding-left:14px;
 			text-decoration:none;
 			font-size:14px;
 			font-weight:bold;
 			color:#535668;
 		}
 		.answer{
			margin-top:10px; 		
			margin-bottom:10px;
			margin-left:10px;
 		}
 		 
 		
 		.response {
 			margin-top:10px; 		
			margin-bottom:10px;
			margin-left:10px;
 		}
 		
 		.responder A{
 			text-decoration:none;
 			font-weight:bold;
 			color:#535668;
 		}
    
    .reference{
      font:italic 10px  arial,sans-serif;
      text-align:right;
      padding-right:20px;
      
    }
    .reference A{
 			text-decoration:none;
 			color:black;
 		}
 		 		
 		.responder {
 		background-color:#9D9CAD;
 		font-size:12px;
 		font-weight:bold;
 		color:#515151;
 		}
 		
 		.toolbar{
 			background-color:#8496B7;
 			padding-right:15px;
 			padding-top:3px;
 			padding-bottom:3px;
 			font-weight:bold;
 			font-size:11px;
 			text-align:right;
 		}
 		
 		.toolbar A{
 			text-decoration:none;
 			color:white; 	
 			background-color:#7A778C;
 			padding-left:4px;
 			padding-right:2px;		
 		}
 		
 		.form{
			border:1px solid #9A897A;
 			background-color:#D0BDB7;
 		}
 		
 		.formhead{
 			padding:3px;
 			border:1px solid #AE9F8E;
 			background-color:#8496b7;
 			font:bold 16px sans-serif;
 			
 			color: #726763;
 		}
 		
 		.formbody{
 			padding:10px;
 		}
 		
 		.fieldname{
 			font:bold 13px sans-serif;
 			color: #726763;
 			padding-top:10px;
 			padding-bottom:5px;
 			padding-right:5px;
 		}
    
    .small{
      width: 80%; 
    }
    .big{
      width: 80%; 
    }    
 		