<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE builder PUBLIC "-//MMBase/DTD builder config 1.1//EN" "http://www.mmbase.org/dtd/builder_1_1.dtd">
<builder name="settings" maintainer="didactor.nl" version="2" extends="object">
  <status>active</status>

  <classfile>Dummy</classfile>
  <searchage>31</searchage>

  <!-- <names>
  names defines the different names used in user visible parts, singular for
  for talking about 1 object (Url,Person) and plurar for talking about multiple
  <Urls, people).
  >-->
  <names>
    <!-- singles per language as defined by ISO 639 -->
    <singular xml:lang="nl">Instelling</singular>
    <singular xml:lang="en">Setting</singular>
    <!-- multiple per language as defined by ISO 639 -->
    <plural xml:lang="nl">Instellingen</plural>
    <plural xml:lang="en">Settings</plural>
  </names>

  <!-- <descriptions>
  small description of the builder for human reading
  -->
  <descriptions>
    <!-- descriptions per language as defined by ISO 639  -->
    <description xml:lang="nl">Een instelling van een component.</description>
    <description xml:lang="en">A setting for a component.</description>
  </descriptions>

  <!-- <properties>
  you can define properties to be used by the classfile (if used) it uses
  a key/value system. Its a optional tag.
  -->
  <properties>
    <property name="max-nodes-from-query">99999</property>
  </properties>

  <!-- <fieldlist>
  defines the different fields in this object, be carefull the order is important
  once defined keep them in the same order.
  If you use number and owner (the 2 default fields, please check the docs for this)
  -->
  <fieldlist>
    <!-- POS 3 : <field> 'name'  -->
    <field>
      <descriptions>
        <!-- descriptions per language as defined by ISO 639  -->
        <description xml:lang="nl">Naam van de instelling</description>
        <description xml:lang="en">Name of the setting</description>
      </descriptions>
      <!-- gui related -->
      <gui>
        <guiname xml:lang="nl">Naam</guiname>
        <guiname xml:lang="en">Name</guiname>
        <guitype>string</guitype>
      </gui>
      <!-- editor related  -->
      <editor>
        <positions>
          <!-- position in the input area of the editor -->
          <input>1</input>
          <!-- position in list area of the editor -->
          <list>1</list>
          <!-- position in search area of the editor -->
          <search>1</search>
        </positions>
      </editor>
      <!-- database related  -->
      <db>
        <!-- name of the field in the database -->
        <name>name</name>
        <!-- MMBase datatype and demands on it -->
        <type state="persistent" size="255" notnull="true" key="false">STRING</type>
      </db>
    </field>

    <!-- POS 3 : <field> 'name'  -->
    <field>
      <descriptions>
        <!-- descriptions per language as defined by ISO 639  -->
        <description xml:lang="nl">Waarde van de instelling</description>
        <description xml:lang="en">Value of the setting</description>
      </descriptions>
      <!-- gui related -->
      <gui>
        <guiname xml:lang="nl">Waarde</guiname>
        <guiname xml:lang="en">Value</guiname>
        <guitype>string</guitype>
      </gui>
      <!-- editor related  -->
      <editor>
        <positions>
          <!-- position in the input area of the editor -->
          <input>2</input>
          <!-- position in list area of the editor -->
          <list>2</list>
          <!-- position in search area of the editor -->
          <search>2</search>
        </positions>
      </editor>
      <!-- database related  -->
      <db>
        <!-- name of the field in the database -->
        <name>value</name>
        <!-- MMBase datatype and demands on it -->
        <type state="persistent" size="255" notnull="true" key="false">STRING</type>
      </db>
    </field>
  </fieldlist>
</builder>
