/*
 sets widhs of inputboxes, location of foot, and submit buttons

 */



body.basic table, body.basic p {
  margin-left: 0%;
  width: 100%;
}


/* submit buttons */
.buttons {
  text-align: right
}


/* input boxes */
.small {
  width: 100%;
}

textarea {
  width: 100%;
}

textarea.small {
  height: 6em;
}
textarea.big {
  height: 15em;
}

input {
}

.mm_validate.invalid {
  background-color: #ffcfcf;
}

.mm_check_error {
  background-color: yellow;
}
.mm_check_error span {
  display: inline;
  border-left: none;
  padding-left: 0ex;
}
.mm_check_error span:not(:first-child) {
  display: none; /* show only first child */
  border-left: solid #aaa 3px;
  padding-left: 1ex;
  margin-right: 1ex;
}

/* footers */

p.foot {
  margin-bottom: 0px;
  margin-top: 0px;
}
p.foot2 {
  margin-bottom: 0px;
  margin-top: 0px;
  float: right;
}


.nmname {
  display: block;
  font-size: smaller;
  font-style: italic;
}
