body {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  background-color: white;
  height: 100%;
}

em {
  font-style: italic;
}
h1 {
  margin-top: 0;
  padding-top: 1ex;
}

h1, h2, h3, h4 {
  padding: 0.5ex;
  font-family: sans-serif;
}
h1, h2, h3, h4, p {
  padding-left: 2ex;
}
pre {
  background-color: #ddd;
}
h1, h2 {
  background-color: #cceb9f;

}
h2 a {
  text-decoration: none;
  color: #a22;
  width: 100%;
  display: block;
}
